@page "/"

<section class="hero">
    <div class="hero-body">
        <p class="title">
            BlazorWebAssembly
        </p>
        <p class="subtitle">
            This is a sample of how to use <strong>Blazored.AzureStaticWebAppAuthentication</strong> in your Blazor apps.
        </p>
    </div>
    <hr class="has-background-dark"/>
</section>
<img src="assets/home-asset.png" alt="Blazor & Azure Static Web Apps"/>